.crud-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  min-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.crud-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.crud-form {
  margin-bottom: 20px;
  margin: 10px;
}

.crud-form-group {
  margin-bottom: 10px;
  margin: 10px;
}

.crud-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.crud-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* margin: 10px; */
}

.crud-button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  width: 100px;
}

.crud-button.submit {
  background-color: #28a745;
  color: white;
}

.crud-button.edit {
  background-color: #007bff;
  color: white;
}

.crud-button.delete {
  background-color: #dc3545;
  color: white;
}

.crud-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.crud-table th,
.crud-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.crud-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
